       .c1
	   {
	        width:400px;
		    height:550px;
		    background-color:rgba(0, 0, 0, 0.1);
		    margin-top:30px;
		    margin-left:550px;
			margin-top:60px;
			 -webkit-box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
	   }
	    input[type=submit]
	   {
            width: 335px;  
	        height: 2em;
		    background-color:rgba(102,255,102,0.8);
			color:white;
			font-size:19px;
			padding:5px;
       }
	   
	   input[type=submit]:hover
	   {
	        background-color:rgba(102,255,102,0.9);
	        cursor:pointer;
	   }
	   #c1
	   {
	        margin:60px 0px 0px 40px;
		    padding:8px;
			border-radius:3px;
			
	   }
	  
      #c2
	   {
	        position:left;
	        margin:20px 20px 0px 20px;
		    padding:5px;
            width:150px;
		    border-radius:3px;
            background-color:rgba(0,0,0,0.1);
	   }
	   #c3
	   {
	        position:left;
	        margin:20px 20px 0px 20px;
		    padding:5px;
            width:150px;
			border-radius:3px;

	   }
	   #c4
	   {
	        position:left;
	        margin:20px 20px 0px 20px;
		    padding:5px;
            width:90px;
			border-radius:3px;
	   }
	   
	    input.s1
	   {
	    
            width: 2em;  
	        height: 2em;
		    background-color:rgba(204,153,255,0.5);
			color:white;
		    
	   }
	   input.s1:hover
	   {
	         background-color:rgba(204,153,255,0.7);
	        cursor:pointer;
	   }
	   
	    input
	   {  
		    font-family:comic sans ms;
            background-color:rgba(255,255,255,0.9);    
            font-weight:bold;	
            border-style:none;	
            color:black;	
		    shadow:black;
            -webkit-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
       			
	   }
	   
	
	   

	   
	
	   
